<h1>Alocacoes realizadas por: {{ nome }} <a href="{% url 'alocador:logout' id %}">logout</a></h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'alocador:comparar' id %}" method="post">
{% csrf_token %}
{% for ind in individuos %}
	<label for="equipe:{{ forloop.counter }}">Equpe: {{ forloop.counter }}</label>
	<input type="radio" name="choice" id="choice" value="{{ ind.equipe }}" /><br />
    <label for="equipe:{{ forloop.counter }}">{{ ind.analistas }}</label><br />
    <label for="equipe:{{ forloop.counter }}">{{ ind.arquitetos }}</label><br />
    <label for="equipe:{{ forloop.counter }}">{{ ind.programadores }}</label><br />
    <label for="equipe:{{ forloop.counter }}">{{ ind.testadores }}</label><br />
    <label for="equipe:{{ forloop.counter }}">{{ ind.genes }}</label><br />
    <label for="equipe:{{ forloop.counter }}">media de afinidade:...... {{ ind.afinidade }}</label><br />
    <label for="equipe:{{ forloop.counter }}">media de custo:.......... {{ ind.custo }}</label><br />
    <label for="equipe:{{ forloop.counter }}">media de experiencia:.... {{ ind.experiencia }}</label><br />
    <label for="equipe:{{ forloop.counter }}">media de produtividade:.. {{ ind.produtividade }}</label><br /><br /><br />
{% endfor %}
<input type="submit" value="comparar equipe"/>
</form>
