<h1>parametros do teste <a href="{% url 'alocador:logout' id %}">logout</a></h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'alocador:avUsuario' id %}" method="post">
{% csrf_token %}

<label>Numero de agentes: </label><input type="number" name="Nids" id="Nids" value=4/><br />
<label>analistas:..... </label><input type="number" name="analistas" id="analistas" value=1/><br />
<label>arquitetos:.... </label><input type="number" name="arquitetos" id="arquitetos" value=1/><br />
<label>programadores:. </label><input type="number" name="programadores" id="programadores" value=1/><br />
<label>testadores:.... </label><input type="number" name="testadores" id="testadores" value=1/><br />

<input type="submit" value="iniciar teste" />
</form>