
    {% load static %}
    <!DOCTYPE html>
    <html>
        <title>Alocacao Avaliacao</title>
        
        <head>
            <meta charset="utf-8">
            <script type="text/javascript" src='{% static "JavaScript/para_formulario.js" %}'></script>
            <title>Contact V5</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1" %}'>
        <!--===============================================================================================-->
            <link rel="icon" type="image/png" href=' {% static "images/icons/favicon.ico" %}'/>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "fonts/iconic/css/material-design-iconic-font.min.css" %}'>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "vendor/animate/animate.css" %}'>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "vendor/css-hamburgers/hamburgers.min.css" %}'>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "vendor/animsition/css/animsition.min.css" %}'>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "vendor/select2/select2.min.css" %}'>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "vendor/daterangepicker/daterangepicker.css" %}'>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "vendor/noui/nouislider.min.css" %}'>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href=' {% static "css/util.css" %}'>
            <link rel="stylesheet" type="text/css" href=' {% static "css/main.css" %}'>
        <!--===============================================================================================-->
        </head>
        
        <body>
        <div class="container-contact100">
            <div class="wrap-contact100">
                <a class="label-input100" href="{% url 'alocador:menu' id %}">Menu</a>
                <a class="label-input100" href="{% url 'alocador:logout' id %}">Sair</a>
                <span class="contact100-form-title">
                    ALOCAR EQUIPE.
                </span>        
                <form action="{% url 'alocador:salvarDados' id %}" method="post">
                    {% csrf_token %}
                     <span class="label-input100">
                        {{analistas}} analista(s), {{arquitetos}} arquiteto(s), {{programadores}} programador(es), {{testadores}} testador(es).
                    </span>
                    
                    <div class="wrap-input100 validate-input bg1" data-validate="DEVE ENTRAR COM A EQUIPE ALOCADO: 10,11,12..,13 !">
                        <span class="label-input100">EQUIPE ALOCADA</span>
                        <input class="input100" name=alocacao id=alocacao type=text placeholder="DEVE ENTRAR COM A EQUIPE ALOCADO: 10,11,12..,13 !">
                    </div>
                    <input name=Nids id=Nids value="{{ Nids }}" type="hidden">
                    <input name=analistas id=analistas value="{{ analistas}}" type="hidden">
                    <input name=arquitetos id=arquitetos value="{{ arquitetos}}" type="hidden">
                    <input name=programadores id=programadores value="{{ programadores}}" type="hidden">
                    <input name=testadores id=testadores value="{{ testadores}}" type="hidden">
                    <input name=IDs value="38, 10, 0, 27, 45, 24, 37, 2, 8, 40" type="hidden">
                    
                    <input name=afinidade id=afinidade value=0 type="hidden">
                    <input name=produtividade id=produtividade value=0 type="hidden">
                    <input name=experiencia id=experiencia value=0 type="hidden">
                    <input name=custo id=custo value=0 type="hidden">
                    
                    <input name=segundos id=segundos value=0 type="hidden">
                    <input name=minutos id=minutos value=0 type="hidden">
                    <input name=horas id=horas value=0 type="hidden">
                    
                    <td>
                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn" id="btn" onclick="Custo('+"'"+val+"'"+');">
                            <span>
                                CADASTRAR
                                <i class="fa fa-long-arrow-down m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    </td>
                </form> 
                <table>
                    <tr>
                        <th>[codigo]</th>
                        <th>nome</th> 
                        <th>Afinidade</th> 
                        <th>Produtividade</th> 
                        <th>Experiencia</th> 
                        <th>custo</th>
                    </tr>
                    <tr><td>38</td><td>Aimee</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Aimee\nnome: afinidade\nAdela: Bom\nAbel: Bom\nAfonso: Bom\nAlane: Bom\nAdriano: regular\nAilton: Bom\nAbilio: regular\nAdalgisa: Bom\nAjit: regular\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Aimee\npapel  <==>  valor\nanalista de requisitos  ==>  28\narquiteto de software  ==>  29\nprogramador  ==>  81\ntestadores  ==>  6\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Aimee\npapel  <==>  valor\nanalista de requisitos  ==>  66\narquiteto de software  ==>  57\nprogramador  ==>  21\ntestador  ==>  58\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Aimee\npapel  <==>  valor\nanalista de requisitos  ==>  79.0\narquiteto de software  ==>  79.0\nprogramador  ==>  182.0\ntestadores  ==>  35.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>
<tr><td>10</td><td>Adela</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Adela\nnome: afinidade\nAimee: Bom\nAbel: regular\nAfonso: Ruim\nAlane: Excelente\nAdriano: regular\nAilton: Bom\nAbilio: regular\nAdalgisa: Bom\nAjit: Bom\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Adela\npapel  <==>  valor\nanalista de requisitos  ==>  88\narquiteto de software  ==>  89\nprogramador  ==>  39\ntestadores  ==>  40\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Adela\npapel  <==>  valor\nanalista de requisitos  ==>  7\narquiteto de software  ==>  8\nprogramador  ==>  51\ntestador  ==>  31\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Adela\npapel  <==>  valor\nanalista de requisitos  ==>  94.0\narquiteto de software  ==>  171.0\nprogramador  ==>  131.0\ntestadores  ==>  88.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>
<tr><td>0</td><td>Abel</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Abel\nnome: afinidade\nAimee: Bom\nAdela: regular\nAfonso: Bom\nAlane: Ruim\nAdriano: Excelente\nAilton: Bom\nAbilio: regular\nAdalgisa: Bom\nAjit: Bom\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Abel\npapel  <==>  valor\nanalista de requisitos  ==>  46\narquiteto de software  ==>  11\nprogramador  ==>  98\ntestadores  ==>  8\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Abel\npapel  <==>  valor\nanalista de requisitos  ==>  97\narquiteto de software  ==>  61\nprogramador  ==>  61\ntestador  ==>  20\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Abel\npapel  <==>  valor\nanalista de requisitos  ==>  200.0\narquiteto de software  ==>  91.0\nprogramador  ==>  142.0\ntestadores  ==>  170.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>
<tr><td>27</td><td>Afonso</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Afonso\nnome: afinidade\nAimee: Bom\nAdela: Ruim\nAbel: Bom\nAlane: Excelente\nAdriano: Excelente\nAilton: Bom\nAbilio: Bom\nAdalgisa: Excelente\nAjit: Bom\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Afonso\npapel  <==>  valor\nanalista de requisitos  ==>  97\narquiteto de software  ==>  11\nprogramador  ==>  1\ntestadores  ==>  22\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Afonso\npapel  <==>  valor\nanalista de requisitos  ==>  47\narquiteto de software  ==>  34\nprogramador  ==>  14\ntestador  ==>  22\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Afonso\npapel  <==>  valor\nanalista de requisitos  ==>  76.0\narquiteto de software  ==>  33.0\nprogramador  ==>  117.0\ntestadores  ==>  186.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>
<tr><td>45</td><td>Alane</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Alane\nnome: afinidade\nAimee: Bom\nAdela: Excelente\nAbel: Ruim\nAfonso: Excelente\nAdriano: Bom\nAilton: Excelente\nAbilio: Bom\nAdalgisa: Excelente\nAjit: Bom\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Alane\npapel  <==>  valor\nanalista de requisitos  ==>  13\narquiteto de software  ==>  12\nprogramador  ==>  58\ntestadores  ==>  74\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Alane\npapel  <==>  valor\nanalista de requisitos  ==>  61\narquiteto de software  ==>  4\nprogramador  ==>  61\ntestador  ==>  53\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Alane\npapel  <==>  valor\nanalista de requisitos  ==>  136.0\narquiteto de software  ==>  174.0\nprogramador  ==>  65.0\ntestadores  ==>  184.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>
<tr><td>24</td><td>Adriano</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Adriano\nnome: afinidade\nAimee: regular\nAdela: regular\nAbel: Excelente\nAfonso: Excelente\nAlane: Bom\nAilton: Bom\nAbilio: Excelente\nAdalgisa: regular\nAjit: regular\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Adriano\npapel  <==>  valor\nanalista de requisitos  ==>  85\narquiteto de software  ==>  52\nprogramador  ==>  76\ntestadores  ==>  22\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Adriano\npapel  <==>  valor\nanalista de requisitos  ==>  1\narquiteto de software  ==>  59\nprogramador  ==>  55\ntestador  ==>  45\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Adriano\npapel  <==>  valor\nanalista de requisitos  ==>  93.0\narquiteto de software  ==>  121.0\nprogramador  ==>  139.0\ntestadores  ==>  94.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>
<tr><td>37</td><td>Ailton</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Ailton\nnome: afinidade\nAimee: Bom\nAdela: Bom\nAbel: Bom\nAfonso: Bom\nAlane: Excelente\nAdriano: Bom\nAbilio: Bom\nAdalgisa: regular\nAjit: regular\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Ailton\npapel  <==>  valor\nanalista de requisitos  ==>  89\narquiteto de software  ==>  94\nprogramador  ==>  49\ntestadores  ==>  75\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Ailton\npapel  <==>  valor\nanalista de requisitos  ==>  82\narquiteto de software  ==>  71\nprogramador  ==>  16\ntestador  ==>  71\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Ailton\npapel  <==>  valor\nanalista de requisitos  ==>  68.0\narquiteto de software  ==>  95.0\nprogramador  ==>  72.0\ntestadores  ==>  109.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>
<tr><td>2</td><td>Abilio</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Abilio\nnome: afinidade\nAimee: regular\nAdela: regular\nAbel: regular\nAfonso: Bom\nAlane: Bom\nAdriano: Excelente\nAilton: Bom\nAdalgisa: Excelente\nAjit: regular\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Abilio\npapel  <==>  valor\nanalista de requisitos  ==>  14\narquiteto de software  ==>  49\nprogramador  ==>  7\ntestadores  ==>  66\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Abilio\npapel  <==>  valor\nanalista de requisitos  ==>  88\narquiteto de software  ==>  0\nprogramador  ==>  37\ntestador  ==>  23\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Abilio\npapel  <==>  valor\nanalista de requisitos  ==>  68.0\narquiteto de software  ==>  171.0\nprogramador  ==>  128.0\ntestadores  ==>  75.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>
<tr><td>8</td><td>Adalgisa</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Adalgisa\nnome: afinidade\nAimee: Bom\nAdela: Bom\nAbel: Bom\nAfonso: Excelente\nAlane: Excelente\nAdriano: regular\nAilton: regular\nAbilio: Excelente\nAjit: Excelente\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Adalgisa\npapel  <==>  valor\nanalista de requisitos  ==>  92\narquiteto de software  ==>  10\nprogramador  ==>  23\ntestadores  ==>  45\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Adalgisa\npapel  <==>  valor\nanalista de requisitos  ==>  16\narquiteto de software  ==>  89\nprogramador  ==>  87\ntestador  ==>  39\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Adalgisa\npapel  <==>  valor\nanalista de requisitos  ==>  44.0\narquiteto de software  ==>  54.0\nprogramador  ==>  51.0\ntestadores  ==>  58.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>
<tr><td>40</td><td>Ajit</td> <td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="afinidade('Ajit\nnome: afinidade\nAimee: regular\nAdela: Bom\nAbel: Bom\nAfonso: Bom\nAlane: Bom\nAdriano: regular\nAilton: regular\nAbilio: regular\nAdalgisa: Excelente\n');"><span>Afinidade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="produtividade('Ajit\npapel  <==>  valor\nanalista de requisitos  ==>  70\narquiteto de software  ==>  60\nprogramador  ==>  51\ntestadores  ==>  26\n');"><span>Produtividade<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="expereincia('Ajit\npapel  <==>  valor\nanalista de requisitos  ==>  59\narquiteto de software  ==>  55\nprogramador  ==>  19\ntestador  ==>  37\n');"><span>Experiencia<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td><td><div class="container-contact100-form-btn"><button class="contact100-form-btn" id="btn" onclick="Custo('Ajit\npapel  <==>  valor\nanalista de requisitos  ==>  90.0\narquiteto de software  ==>  105.0\nprogramador  ==>  132.0\ntestadores  ==>  113.0\n');"><span>Custo<i class="fa fa-long-arrow-up m-l-7" aria-hidden="true"></i></span></button></div></td></tr>

                </table>
            </div>
        </div>
            <!--===============================================================================================-->
                <script src=' {% static "vendor/jquery/jquery-3.2.1.min.js" %} '></script>
            <!--===============================================================================================-->
                <script src=' {% static "vendor/animsition/js/animsition.min.js" %} '></script>
            <!--===============================================================================================-->
                <script src=' {% static "vendor/bootstrap/js/popper.js" %} '></script>
                <script src=' {% static "vendor/bootstrap/js/bootstrap.min.js" %} '></script>
            <!--===============================================================================================-->
                <script src=' {% static "vendor/select2/select2.min.js" %} '></script>
                <script>
                    $(".js-select2").each(function(){
                        $(this).select2({
                            minimumResultsForSearch: 20,
                            dropdownParent: $(this).next('.dropDownSelect2')
                        });
            
            
                        $(".js-select2").each(function(){
                            $(this).on('select2:close', function (e){
                                if($(this).val() == "Please chooses") {
                                    $('.js-show-service').slideUp();
                                }
                                else {
                                    $('.js-show-service').slideUp();
                                    $('.js-show-service').slideDown();
                                }
                            });
                        });
                    })
                </script>
            <!--===============================================================================================-->
                <script src=' {% static "vendor/daterangepicker/moment.min.js" %} '></script>
                <script src=' {% static "vendor/daterangepicker/daterangepicker.js" %} '></script>
            <!--===============================================================================================-->
                <script src=' {% static "vendor/countdowntime/countdowntime.js" %} '></script>
            <!--===============================================================================================-->
                <script src=' {% static "vendor/noui/nouislider.min.js" %} '></script>
                <script>
                    var filterBar = document.getElementById('filter-bar');
            
                    noUiSlider.create(filterBar, {
                        start: [ 1500, 3900 ],
                        connect: true,
                        range: {
                            'min': 1500,
                            'max': 7500
                        }
                    });
            
                    var skipValues = [
                    document.getElementById('value-lower'),
                    document.getElementById('value-upper')
                    ];
            
                    filterBar.noUiSlider.on('update', function( values, handle ) {
                        skipValues[handle].innerHTML = Math.round(values[handle]);
                        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
                        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
                    });
                </script>
            <!--===============================================================================================-->
                <script src=' {% static "js/main.js" %} '></script>
            
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-23581568-13');
            </script>
        </body>
    </html>