<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Contact V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src='{% static "JavaScript/modificarImagem.js" %}'></script>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href=' {% static "images/icons/favicon.ico" %}'/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "fonts/iconic/css/material-design-iconic-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/animate/animate.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/css-hamburgers/hamburgers.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/animsition/css/animsition.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/daterangepicker/daterangepicker.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/noui/nouislider.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href=' {% static "css/main.css" %}'>
<!--===============================================================================================-->
</head>
<body>

	<div class="container-contact-modificado">
		<div>
			<form class="contact100-form validate-form" action="{% url 'alocador:avaliar' id %}" method="post">
                {% csrf_token %}
                <a class="label-input100" href="{% url 'alocador:menu' id %}">Menu</a>
                <a class="label-input100" href="{% url 'alocador:logout' id %}">Sair</a>
                <span class="contact100-form-title">
					COMPARAR EQUIPE
				</span>

                <div class="wrap-contact100-form-radio">
                    <span class="label-input100">alocações realizadas por você</span>
                    <table style="width:100%">
                        <th>
                            <td><span class="label-input100"> Algoritmo</span></td>
                            <td><span class="label-input100">Sua Alocacao</span></td>
                            <td><span class="label-input100">semelhanca</span></td>
                        </th>
                        {% for ind in dados %}
                            <tr>
                                <td>
                                    <div class="contact100-form-radio m-t-15">
                                        <input class="input-radio100" id="radio{{ ind.comparado.codificador }}" type="radio" name="choice" value="{{ ind.comparado.codificador }}" checked="checked">
                                        <label class="label-radio100" for="radio{{ ind.comparado.codificador }}">
                                            {% if forloop.counter == 1 %}
                                                Melhor Custo Beneficio
                                            {% else %}
                                                {% if forloop.counter == 2 %}
                                                     Melhor Custo
                                                {% else %}
                                                    {% if forloop.counter == 3 %}
                                                         >Melhor Afinidade
                                                    {% else %}
                                                        {% if forloop.counter == 4 %}
                                                            Melhor Produtividade
                                                        {% else %}
                                                            {% if forloop.counter == 5 %}
                                                                Melhor Experiencia
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </label>
                                    </div>

                                    <span class="label-input100" for="equipe:{{ ind.comparado.codificador }}">{{ ind.comparado.analistas }}</span><br />
                                    <span class="label-input100" for="equipe:{{ ind.comparado.codificador }}">{{ ind.comparado.arquitetos }}</span><br />
                                    <span class="label-input100" for="equipe:{{ ind.comparado.codificador }}">{{ ind.comparado.programadores }}</span><br />
                                    <span class="label-input100" for="equipe:{{ ind.comparado.codificador }}">{{ ind.comparado.testadores }}</span><br />
                                    <span class="label-input100" for="equipe:{{ ind.comparado.codificador }}">{{ ind.comparado.genes }}</span><br />

                                    <table>
                                        <tr>
                                            <td><span class="label-input100" for="equipe:{{ ind.comparado.codificador }}">media de Afinidade (A): </span></td>
                                            <td><span  class="label-input100">{{ ind.comparado.afinidade }}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="label-input100" for="equipe:{{ ind.comparado.codificador }}">media de Custo (C): </span></td>
                                            <td><span  class="label-input100">{{ ind.comparado.custo }}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="label-input100" for="equipe:{{ ind.comparado.codificador }}">media de Experiencia (E): </span></td>
                                            <td><span  class="label-input100">{{ ind.comparado.experiencia }}</span></td>
                                        </tr>
                                        <tr>
                                            <td width="89%"><span class="label-input100" for="equipe:{{ ind.comparado.codificador }}">media de Produtividade (P): </span></td>
                                            <td><span  class="label-input100"> {{ ind.comparado.produtividade }}</span></td>
                                        </tr>
                                    </table>
                                </td>

                                <td>
                                     <div class="contact100-form-radio m-t-15">
                                        <input class="input-radio100" id="radio{{ ind.base.codificador }}" type="radio" name="choice" value="{{ ind.base.codificador }}" checked="checked">
                                        <label class="label-radio100" for="radio{{ ind.base.codificador }}">
                                            SUA EQUIPE
                                        </label>
                                    </div>
                                    <span class="label-input100" for="equipe:{{ ind.base.codificador }}">{{ ind.base.analistas }}</span><br />
                                    <span class="label-input100" for="equipe:{{ ind.base.codificador }}">{{ ind.base.arquitetos }}</span><br />
                                    <span class="label-input100" for="equipe:{{ ind.base.codificador }}">{{ ind.base.programadores }}</span><br />
                                    <span class="label-input100" for="equipe:{{ ind.base.codificador }}">{{ ind.base.testadores }}</span><br />
                                    <span class="label-input100" for="equipe:{{ ind.base.codificador }}">{{ ind.base.genes }}</span><br />

                                    <table>
                                        <tr>
                                            <td><span class="label-input100" for="equipe:{{ ind.base.codificador }}">media de Afinidade (A): </span></td>
                                            <td><span  class="label-input100">{{ ind.base.afinidade }}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="label-input100" for="equipe:{{ ind.base.codificador }}">media de Custo (C): </span></td>
                                            <td><span  class="label-input100">{{ ind.base.custo }}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="label-input100" for="equipe:{{ ind.base.codificador }}">media de Experiencia (E): </span></td>
                                            <td><span  class="label-input100">{{ ind.base.experiencia }}</span></td>
                                        </tr>
                                        <tr>
                                            <td width="89%"><span class="label-input100" for="equipe:{{ ind.base.codificador }}">media de Produtividade (P): </span></td>
                                            <td><span  class="label-input100"> {{ ind.base.produtividade }}</span></td>
                                        </tr>
                                    </table>

                                </td>

                                <td>
                                     <h2>{{ ind.resultado }} %</h2>
                                </td>

                                <td>
                                    <img src={% static ind.grafico %} width="350" height="320" onMouseOver="aumenta(this)" onMouseOut="diminui(this)">
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <h1>Media de semelhanca com as equipes: {{media}} %</h1>
                            </tr>
                    </table>
                </div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							COMPARAR..
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src=' {% static "vendor/jquery/jquery-3.2.1.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/animsition/js/animsition.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/bootstrap/js/popper.js" %} '></script>
	<script src=' {% static "vendor/bootstrap/js/bootstrap.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/select2/select2.min.js" %} '></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/daterangepicker/moment.min.js" %} '></script>
	<script src=' {% static "vendor/daterangepicker/daterangepicker.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/countdowntime/countdowntime.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/noui/nouislider.min.js" %} '></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src=' {% static "js/main.js" %} '></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
