{% load static %}

<script type="text/javascript" src='{% static "JavaScript/modificarImagem.js" %}'></script>

<h1>Resultado da comparacao <a href={% url 'alocador:logout' id %}>logout</a></h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'alocador:avaliar' id %}" method="post">
{% csrf_token %}
<table style="width:100%">
    <tr>
        <td><h2> Algoritmo</h2></td>
        <td><h2>Sua Alocacao</h2></td>
        <td><h2>semelhanca</h2></td>
    </tr>
    {% for ind in dados %}
        <tr>
            <td>
                <label for="equipe:{{ forloop.counter }}">Equpe: {{ forloop.counter }}</label>
                <input type="radio" name="choice" id="choice" value="{{ ind.comparado.codificador }}" /><br />
                {% if forloop.counter == 1 %}
                    <h3>Melhor Custo Beneficio</h3>
                {% else %}
                    {% if forloop.counter == 2 %}
                        <h3>Melhor Custo</h3>
                    {% else %}
                        {% if forloop.counter == 3 %}
                            <h3>Melhor Afinidade</h3>
                        {% else %}
                            {% if forloop.counter == 4 %}
                                <h3>Melhor Produtividade</h3>
                            {% else %}
                                {% if forloop.counter == 5 %}
                                    <h3>Melhor Experiencia</h3>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <label for="equipe:{{ forloop.counter }}">{{ ind.comparado.analistas }}</label><br />
                <label for="equipe:{{ forloop.counter }}">{{ ind.comparado.arquitetos }}</label><br />
                <label for="equipe:{{ forloop.counter }}">{{ ind.comparado.programadores }}</label><br />
                <label for="equipe:{{ forloop.counter }}">{{ ind.comparado.testadores }}</label><br />
                <label for="equipe:{{ forloop.counter }}">{{ ind.comparado.genes }}</label><br />
                <label for="equipe:{{ forloop.counter }}">media de afinidade:...... {{ ind.comparado.afinidade }}</label><br />
                <label for="equipe:{{ forloop.counter }}">media de custo:.......... {{ ind.comparado.custo }}</label><br />
                <label for="equipe:{{ forloop.counter }}">media de experiencia:.... {{ ind.comparado.experiencia }}</label><br />
                <label for="equipe:{{ forloop.counter }}">media de produtividade:.. {{ ind.comparado.produtividade }}</label><br /><br /><br />
            </td>
            <td>
                <input type="radio" name="choice" id="choice" value="{{ ind.base.codificador }}" /><br />
                <label for="equipe:{{ forloop.counter }}">{{ ind.base.analistas }}</label><br />
                <label for="equipe:{{ forloop.counter }}">{{ ind.base.arquitetos }}</label><br />
                <label for="equipe:{{ forloop.counter }}">{{ ind.base.programadores }}</label><br />
                <label for="equipe:{{ forloop.counter }}">{{ ind.base.testadores }}</label><br />
                <label for="equipe:{{ forloop.counter }}">{{ ind.base.genes }}</label><br />
                <label for="equipe:{{ forloop.counter }}">media de afinidade:...... {{ ind.base.afinidade }}</label><br />
                <label for="equipe:{{ forloop.counter }}">media de custo:.......... {{ ind.base.custo }}</label><br />
                <label for="equipe:{{ forloop.counter }}">media de experiencia:.... {{ ind.base.experiencia }}</label><br />
                <label for="equipe:{{ forloop.counter }}">media de produtividade:.. {{ ind.base.produtividade }}</label><br /><br /><br />
            </td>
            <td>
                <h2>{{ ind.resultado }} %</h2>
            </td>

            <td>
                <img src={% static ind.grafico %} width="350" height="320" onMouseOver="aumenta(this)" onMouseOut="diminui(this)">
            </td>

        </tr>
    {% endfor %}
    <tr>
    <h1>Media de semelhanca com as equipes: {{media}} %</h1>
    </tr>
</table>
<input type="submit" value="detalhes da equipe"/>
</form>
