<h1>Entrada de dados <a href="{% url 'alocador:logout' id %}">logout</a></h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'alocador:resultado' id %}" method="post">
{% csrf_token %}

<label>analistas:..... </label><input type="number" name="analistas" id="analistas"/><br />
<label>arquitetos:.... </label><input type="number" name="arquitetos" id="arquitetos"/><br />
<label>programadores:. </label><input type="number" name="programadores" id="programadores"/><br />
<label>testadores:.... </label><input type="number" name="testadores" id="testadores"/><br />
<label>geracoes:...... </label><input type="number" name="geracoes" id="geracoes"/><br />

<input type="submit" value="BUSCAR" />
</form>