<h1>Detalhes <a href="{% url 'alocador:logout' id %}">logout</a></h1>
<h2><a href={% url 'alocador:menu' id %}>Menu</a></h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table style="width:100%">
	<tr>
		<td>ID</td>
		<td>Nome</td>
		<td>Papel</td>
		<td>Custo</td>
		<td>Experiencia</td>
		<td>Produtividade</td>
		<td>Afinidade</td>
	</tr>
	{% for agente in agentes.detalhes %}
		<tr>
		{% for dado in agente %}
			{% if forloop.counter == 7 %}
				<td>
				{% for d in dado %}
					{{d}}<br />
				{% endfor %}
				<br />
				</td>
			{% else %}
				<td>{{ dado }}</td>
			{% endif %}
		{% endfor %}
		</tr>
	{% endfor %}
</table>
<br />
<label>media de afinidade: {{agentes.afinidade}}</label><br />
<label>media de produtividade: {{agentes.produtividade}}</label><br />
<label>media de experiencia: {{agentes.experiencia}}</label><br />
<label>media de custo: {{agentes.custo}}</label><br />