<h1>Cadastrar ou <a href="{% url 'alocador:login_init'%}">fazer login</a></h1>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'alocador:cadastro'%}" method="post">
{% csrf_token %}
    <label>nome: </label><input type="text" name="nome" id="nome"/><br />
    <label>email: </label><input type="text" name="email" id="email"/><br />
    <label>organização: </label><input type="text" name="organizacao" id="organizacao"/><br />
    <label>senha: </label><input type="password" name="senha" id="senha"/><br />
    <label>Confirmação: </label><input type="password" name="senha2" id="senha2"/><br />
<input type="submit" value="cadastrar"/>
</form>
