<h1>Menu <a href="{% url 'alocador:logout' id %}">logout</a></h1>
<h2><a href="https://www.dropbox.com/s/1qk0welsslc2rf8/Treinamento.pptx?dl=0">Treinamento</a></h2>
<h2><a href="/alocador/{{id}}/testar">realizar teste.</a></h2>
<h2><a href="/alocador/{{id}}/alocar">alocar com AG.</a></h2>
<h2><a href="/alocador/{{id}}/escolher">Comparar resultados.</a></h2>
<h2><a href="/alocador/{{id}}/userinfo">resultados.</a></h2>
