<h1>fazer login</h1>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'alocador:login'%}" method="post">
{% csrf_token %}
    <label>nome: </label><input type="text" name="nome" id="nome"/><br />
    <label>senha: </label><input type="password" name="senha" id="senha"/><br />
<input type="submit" value="entrar"/>
</form>