<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>DETALHES DA EQUIPE</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href=' {% static "images/icons/favicon.ico" %}'/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "fonts/iconic/css/material-design-iconic-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/animate/animate.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/css-hamburgers/hamburgers.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/animsition/css/animsition.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/daterangepicker/daterangepicker.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/noui/nouislider.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href=' {% static "css/main.css" %}'>
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<a class="label-input100" href="{% url 'alocador:menu' id %}">Menu</a>
                <a class="label-input100" href="{% url 'alocador:logout' id %}">Sair</a>
				<span class="contact100-form-title">
					DETALHES DA EQUIPE
				</span>

				<table style="width:100%">
					<tr>
						<th><span class="label-input100">ID</span></th>
						<th><span class="label-input100">Nome</span></th>
						<th><span class="label-input100">Papel</span></th>
						<th><span class="label-input100">Cust</span></th>
						<th><span class="label-input100">Expe</span></th>
						<th><span class="label-input100">Prod</span></th>
						<th><span class="label-input100">Afin</span></th>
					</tr>
					{% for agente in agentes.detalhes %}
						<tr>
						{% for dado in agente %}
							{% if forloop.counter == 7 %}
								<td><span class="label-input100">
								{% for d in dado %}
									{{d}}<br />
								{% endfor %}
								<br />
								</span></td>
							{% else %}
								<td><span class="label-input100">{{ dado }}</span></td>
							{% endif %}
						{% endfor %}
						</tr>
					{% endfor %}

				</table>

				<br />
				<table>
					<tr>
						<th width="86%"><span class="label-input100">media de afinidade: </span></th>
						<td><span class="label-input100">{{agentes.afinidade}}</span></td>
					</tr>
					<tr>
						<th><span class="label-input100">media de custo: </span></th>
						<td><span class="label-input100">{{agentes.custo}}</span></td>
					</tr>
					<tr>
						<th><span class="label-input100">media de experiencia: </span></th>
						<td><span class="label-input100">{{agentes.experiencia}}</span></td>
					</tr>
					<tr>
						<th><span class="label-input100">media de produtividade: </span></th>
						<td><span class="label-input100">{{agentes.produtividade}}</span></td>
					</tr>
				</table>

				<table border="1">
					<table style="width:100%">
					<tr>
						<th><span class="label-input100">Cust</span></th>
						<td><span class="label-input100">Custo</span></td>
					</tr>
						<th><span class="label-input100">Expe</span></th>
						<td><span class="label-input100">Experiencia</span></td>
					</tr>
					<tr>
						<th><span class="label-input100">Prod</span></th>
						<td><span class="label-input100">Produtividade</span></td>
					</tr>
					<tr>
						<th><span class="label-input100">Afin</span></th>
						<td><span class="label-input100">Afinidade</span></td>
					</tr>
				</table>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src=' {% static "vendor/jquery/jquery-3.2.1.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/animsition/js/animsition.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/bootstrap/js/popper.js" %} '></script>
	<script src=' {% static "vendor/bootstrap/js/bootstrap.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/select2/select2.min.js" %} '></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/daterangepicker/moment.min.js" %} '></script>
	<script src=' {% static "vendor/daterangepicker/daterangepicker.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/countdowntime/countdowntime.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/noui/nouislider.min.js" %} '></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src=' {% static "js/main.js" %} '></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
