<h1>Resultado do algoritmo </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for a in est %}
        <label for="equipe:{{ forloop.counter }}">nome: {{ a.usuario.nome }}</label><br />
        <label for="equipe:{{ forloop.counter }}">e-mail: {{ a.usuario.email }}</label><br />
        <label for="equipe:{{ forloop.counter }}">empresa: {{ a.usuario.organizacao }}</label><br />
        <label for="equipe:{{ forloop.counter }}">+++++++++++++++++++++++++++++++++++++++++++</label><br />
        <label for="equipe:{{ forloop.counter }}">Alocação</label><br />
        <label for="equipe:{{ forloop.counter }}">cromossomo: {{a.cromossomo}} </label><br />
        <label for="equipe:{{ forloop.counter }}">analistas: {{a.analistas}} </label><br />
        <label for="equipe:{{ forloop.counter }}">arquitetos: {{a.arquitetos}} </label><br />
        <label for="equipe:{{ forloop.counter }}">programadores: {{a.programadores}} </label><br />
        <label for="equipe:{{ forloop.counter }}">testadores: {{a.testadores}} </label><br />
        <label for="equipe:{{ forloop.counter }}">ids: {{a.ids}} </label><br />
        <label for="equipe:{{ forloop.counter }}">tempo: {{a.tempo.hour}}:{{a.tempo.minute}}:{{a.tempo.second}} </label><br />
        <label for="equipe:{{ forloop.counter }}">Numero de click afinidades: {{a.Nafinidades}} </label><br />
        <label for="equipe:{{ forloop.counter }}">Numero de click produtividade: {{a.Nprodutividade}} </label><br />
        <label for="equipe:{{ forloop.counter }}">Numero de click experiencia: {{a.Nexperiencia}} </label><br />
        <label for="equipe:{{ forloop.counter }}">Numero de click custo: {{a.Ncusto}} </label><br />
    <br/><br/>
{% endfor %}
