<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Contact V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" %}'>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href=' {% static "images/icons/favicon.ico" %}'/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "fonts/iconic/css/material-design-iconic-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/animate/animate.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/css-hamburgers/hamburgers.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/animsition/css/animsition.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/daterangepicker/daterangepicker.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/noui/nouislider.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href=' {% static "css/main.css" %}'>
<!--===============================================================================================-->
</head>
<body>

	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="{% url 'alocador:login'%}" method="post">
				{% csrf_token %}
				<span class="contact100-form-title">
					FAÇA LOGIN OU <a class="contact100-form-title" href="{% url 'alocador:cadastro'%}">CADASTRE-SE</a>
				</span>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Digite seu nome">
					<span class="label-input100">LOGIN *</span>
					<input class="input100" type="text" name="nome" placeholder="Digite seu nome">
				</div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Digite Sua Senha ">
					<span class="label-input100">SENHA *</span>
					<input class="input100" type="password" name="senha" placeholder="Digite Sua Senha ">
				</div>

                {% if error_message %}
                    <p>
                        <strong class="label-input100">
                            {{ error_message }}
                        </strong>
                    </p>
                {% endif %}

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							LOGIN
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src=' {% static "vendor/jquery/jquery-3.2.1.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/animsition/js/animsition.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/bootstrap/js/popper.js" %} '></script>
	<script src=' {% static "vendor/bootstrap/js/bootstrap.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/select2/select2.min.js" %} '></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/daterangepicker/moment.min.js" %} '></script>
	<script src=' {% static "vendor/daterangepicker/daterangepicker.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/countdowntime/countdowntime.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/noui/nouislider.min.js" %} '></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src=' {% static "js/main.js" %} '></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
