<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Contact V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" %}'>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href=' {% static "images/icons/favicon.ico" %}'/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "fonts/iconic/css/material-design-iconic-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/animate/animate.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/css-hamburgers/hamburgers.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/animsition/css/animsition.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/daterangepicker/daterangepicker.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "vendor/noui/nouislider.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=' {% static "css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href=' {% static "css/main.css" %}'>
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<a class="label-input100" href="{% url 'alocador:menu' user.id %}">Menu</a>
			<a class="label-input100" href="{% url 'alocador:logout' user.id %}">Sair</a>
			<span class="contact100-form-title">
				{{ user.nome }}
			</span>

			<div class="wrap-input100">
				<table>
					<th>
						<td  width="90%"><span class="label-input100">media de tempo das alocações realizadas</span></td>
						<td><span class="label-input100">{{dados.tempo}}</span></td>
					</th>
				</table>
			</div>

			<div class="wrap-input100">
				<table>
					<th>
						<td  width="95%"><span class="label-input100">Numero de alocações realizadas</span>
						<td><span class="label-input100">{{dados.qtd}}</span></td>
					</th>
				</table>
			</div>

			<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
				<span class="label-input100">Email *</span>
				<input class="input100" type="text" name="email" placeholder="Enter Your Email ">
			</div>

			<div class="wrap-input100 bg1 rs1-wrap-input100">
				<span class="label-input100">Phone</span>
				<input class="input100" type="text" name="phone" placeholder="Enter Number Phone">
			</div>

			<div class="wrap-input100 input100-select bg1">
				<span class="label-input100">Needed Services *</span>
				<div>
					<select class="js-select2" name="service">
						<option>Please chooses</option>
						<option>eCommerce Bussiness</option>
						<option>UI/UX Design</option>
						<option>Online Services</option>
					</select>
					<div class="dropDownSelect2"></div>
				</div>
			</div>

			<div class="w-full dis-none js-show-service">
				<div class="wrap-contact100-form-radio">
					<span class="label-input100">What type of products do you sell?</span>

					<div class="contact100-form-radio m-t-15">
						<input class="input-radio100" id="radio1" type="radio" name="type-product" value="physical" checked="checked">
						<label class="label-radio100" for="radio1">
							Phycical Products
						</label>
					</div>

					<div class="contact100-form-radio">
						<input class="input-radio100" id="radio2" type="radio" name="type-product" value="digital">
						<label class="label-radio100" for="radio2">
							Digital Products
						</label>
					</div>

					<div class="contact100-form-radio">
						<input class="input-radio100" id="radio3" type="radio" name="type-product" value="service">
						<label class="label-radio100" for="radio3">
							Services Consulting
						</label>
					</div>
				</div>

				<div class="wrap-contact100-form-range">
					<span class="label-input100">Budget *</span>

					<div class="contact100-form-range-value">
						$<span id="value-lower">610</span> - $<span id="value-upper">980</span>
						<input type="text" name="from-value">
						<input type="text" name="to-value">
					</div>

					<div class="contact100-form-range-bar">
						<div id="filter-bar"></div>
					</div>
				</div>
			</div>

			<div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
				<span class="label-input100">Message</span>
				<textarea class="input100" name="message" placeholder="Your message here..."></textarea>
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn">
					<span>
						Submit
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>
		</div>
	</div>



<!--===============================================================================================-->
	<script src=' {% static "vendor/jquery/jquery-3.2.1.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/animsition/js/animsition.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/bootstrap/js/popper.js" %} '></script>
	<script src=' {% static "vendor/bootstrap/js/bootstrap.min.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/select2/select2.min.js" %} '></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/daterangepicker/moment.min.js" %} '></script>
	<script src=' {% static "vendor/daterangepicker/daterangepicker.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/countdowntime/countdowntime.js" %} '></script>
<!--===============================================================================================-->
	<script src=' {% static "vendor/noui/nouislider.min.js" %} '></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src=' {% static "js/main.js" %} '></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
